.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color:rgb(216 244 246);
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    width: 400px;
    height: 135px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 25px;
}

.closeModal{
    width:20px;
    height:20px;
    position: relative;
    top: -23px;
    left: 360px;
    background-color: #ff4646;
    border:none;
    cursor:pointer;
    padding:3px;
}

.closeModal :hover{
    background-color: #f65d5d;
}
.modalHead{
    text-align: center;
    margin-bottom: 30px;
}

.buttonFlex{
    display: flex;
    justify-content: space-evenly;
    cursor:pointer;
}

.buttonFlex :hover{
    background-color: #91c9ff;
}

.button{
    width: 100px;
    background-color: #239eff;
    border: none;
    padding: 5px;
    border-radius: 5px;
}



